body{
  height: 3000px;
}
.container{
 
}
*{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
  

}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;

  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding:10px;
 


}
.feature{
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-family: Acme;
  font-size: 16px;
  cursor: pointer;




  
  
}
.logo{
  
  font-size: 20px;
  font-family: Acme , arial ;
  font-weight: 900;


  

}
.img1{
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.Logo{
  display: flex;
  align-items: center;
  
}
.blank{
  width: 120px;
}
.feat{
  cursor: pointer;
}
.page1{
  background-image: url('assets/spider-web-with-spider-black-and-white-abstract-background-no-people-insect-or-bug-line-art-doodle-style-for-backgrounds-vector.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}
 
.video{
  border: 4px solid black;
  width: 1400px;
  height: 500px;
  background-image: url(assets/spiderman-home-coming-ship-wreck-08sdnnxnwddf0y26.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

}
.hero{
  height: 500px ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.over1{
 display: flex;
 justify-content: space-between;
 padding-bottom: 30px;

 
}
.over2{
color: white;
border-top: 2px solid white;
font-family: Acme ,arial ;
padding-top: 30px;
padding-bottom: 30px;

}
.img2{
  height:  70px;
  width: 70px;
  object-fit: cover;
  border-radius: 35px;


}
.overlay{
  height: 40%;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-right:46px ;
  padding-left:46px ;
  padding-top: 46px;
}
.txt1{
  font-size: 45px;
  color: white;
  font-family: Acme , arial;
  align-items: center;
}
.characters{
  height: 230px;
  display: flex;
  border: 2px solid black;

  background-image: url(assets/set-of-different-spiderweb-on-white-background-free-vector.webp);
  
  

}

.page2{

  background-image: url('assets/spider-web-with-spider-black-and-white-abstract-background-no-people-insect-or-bug-line-art-doodle-style-for-backgrounds-vector.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 367px;
  width: 100%;
  padding-top: 40px;
}
.batman{
  height: 190px;
  width: 190px;
  margin:20px;
  border-radius: 95px;
  object-fit: cover;
}
@keyframes spin {
  from {translate:0;}
  to{translate:-100%;}
}
.carousel{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  animation: spin 8s infinite linear;
}
.powers{
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  height: 60px;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  padding-left:20px ;
  padding-right: 20px;
  font-family: Acme , Arial, Helvetica, sans-serif;
  

}
.power2{
  display: flex;
}
.p3{
  font-size: 40px;
  text-decoration: underline;
}
.s3{
  font-size: 20px;
  padding: 20px;
}
.s3:hover{
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  color: rgb(200, 0, 0);
}

.page3{
  background-image: url('assets/spider-web-with-spider-black-and-white-abstract-background-no-people-insect-or-bug-line-art-doodle-style-for-backgrounds-vector.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
  width: 1450px;
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}
.villain1{
  display: flex;
  flex-direction: column;
}
.img5{
  height: 300px;
  width: 500px;
  object-fit: cover;
 animation-name: rot ;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-delay: 1s;
 animation-iteration-count: 1;
 animation-play-state: paused;
 animation-fill-mode: forwards;
}
.txt4{
  width: 500px;
  font-size: 16px;
  font-family: Acme ,Arial, Helvetica, sans-serif;
  margin-top: 10px;
  line-height: 24px;
}
.heroV{
  margin-top: 100px;
}
.img5:hover{
  animation-play-state: running;
}
@keyframes rot {
  0%{
    
  }
  100%{
  border-radius: 50%;
     scale: 1;
    transform: rotate(360deg);

  }
}
.page4{
  
}
